.hero_section {
    .headLine {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-family: q;
    }
}

// @media (max-width: 768px) {
//     .hero_section {
//         .headLine {
//             margin-bottom: 2rem;
//         }
//     }
// }