.UserIcon {
    background: white;
    border-color: #0303038c;
    box-shadow: inset 1px -2px 10px 2px #030303c9, -2px 2px 15px 1px #ffffffe8;
    font-family: 'Arial Rounded MT';
    font-weight: 600;

    &:hover {
        background: rgb(255, 249, 249);
        border-color: #000;
        box-shadow: inset 1px -2px 10px 2px rgba(101, 98, 98, 0.97), -2px 2px 15px 1px rgba(255, 255, 255, 0.91);
    }
}