.Navigation_section {
    background: #D9D2C963;
    // background: #CDC0B0;
    mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 3%, rgb(0, 0, 0) 80%, rgb(0, 0, 0) 98%, rgba(255, 255, 255, 0) 100%);

    // &:hover {
    //     .img_container {
    //         display: block;
    //     }
    // }
}


.NewsSection {
    width: 100%;
    background: #D4D4D4D9;

    .newsHead {
        font-size: 3rem;
        font-weight: 600;
        margin: 1rem auto;
        color: #2B2B2B;
    }
}