.mainForm {
    place-self: flex-end;
    position: absolute;
    z-index: 0;
    transition: transform 0.3s ease-in;

    form {
        background: rgba(205, 202, 202, 0.25);
        backdrop-filter: blur(10px);

        input {
            background: rgba(216, 213, 213, 0.25);
            backdrop-filter: blur(10px);
            color: white;

            ::placeholder {
                color: #fff;
            }
        }

        .submit_btn {
            background: rgba(216, 213, 213, 0.25);
            backdrop-filter: blur(5px);
            color: white;
        }
    }
}

.down {
    transform: translate(-60%, 0%);
    top: 5rem;
    z-index: 1;
}

.up {
    transform: translate(-2%, -100%);
    top: 0;
}