/* Fonts Load */

@font-face {
  font-family: "CosiAzure";
  src: url(./assets/fonts/CosiAzure-Bold.woff) format("woff");
}
@font-face {
  font-family: "mogen";
  src: url(./assets/fonts/MogenRegular-MVvOn.woff) format("woff");
}

.btn {
  outline: none;
  border: 0.5px solid black;
  background: transparent;
  padding: 5px 8px;
  border-radius: 10px;
}

/* 
#CDC0B0 --> hero section

#F1EEE9 --> background
#E0DDD9

#CDC0B1 -> light Dark box 
#C8C8C8 --> light box

#2B2B2B --> head font
 */

/* section:  background: #D4D4D4D9;
    card : background: #E5E1E163;
 
 */
