.CONcontainer {
    height: 100%;
    justify-content: center;
    scale: 1.08;


    .new_item1 {
        height: inherit;
        padding: 0 1rem;
        width: 60%;
    }

    .second_container {
        width: 35%;
        height: 100%;
        gap: 5px;

        .new_item2 {
            height: 50%;
        }
    }
}

@media (max-width: 768px) {
    .CONcontainer {
        gap: 1rem;

        .new_item1 {
            width: 100%;
            padding: 0;
        }

        .second_container {
            width: 100%;


            .new_item2 {
                height: auto;
                width: 50%;
                aspect-ratio: 16/9;

                .card {
                    &:hover {
                        .newsDetails {
                            a {
                                top: 0;
                            }
                        }
                    }

                    .newsDetails {
                        a {
                            top: 2rem;

                            .news_title {
                                font-size: 13px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 420px) {

    .CONcontainer {

        .new_item1 {
            width: 100%;
            aspect-ratio: 16/8;

        }


        .second_container {
            .new_item2 {
                height: 100% !important;

                .card {
                    &:hover {
                        .newsDetails {
                            a {
                                top: 0;
                            }
                        }
                    }

                    .newsDetails {
                        margin: 0.5rem 1em 1em 2em;

                        a {
                            top: 5rem;
                        }
                    }
                }
            }
        }
    }
}