.card {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 14px;

    &:hover {
        background-color: #201c19;



        img {
            mask-image: linear-gradient(black 30%, transparent);
            scale: 1.1;
            filter: grayscale(0);
        }

        .newsDetails {
            a {
                top: 0;

            }
        }

    }


    img {
        border-radius: 10px;
        height: inherit;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease-in-out;
        filter: brightness(0.7) grayscale(1);
    }

    .newsDetails {
        position: relative;
        z-index: 2;
        color: white;
        margin: 2rem 10em 1em 2em;
        overflow: hidden;


        a {
            text-decoration: none;
            position: relative;
            top: 6rem;
            transition: top 0.4s ease-in-out;

            .news_title {
                font-weight: 600;
            }

        }
    }


}


@media (max-width: 768px) {

    .card {
        font-size: 10px;

        .newsDetails {
            margin: 1rem 4em 1em 2em;

            a {
                .news_title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}